@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'daisyui/dist/full.css';


html,
body,
body > div:first-child,
div#__next,
div#__next > main {
  height: 100%;
}

.skeleton-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}
.skeleton-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f9f9f9;  /* Placeholder background, adjust if needed */
}



.skeleton-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.skeleton-line {
  width: 80%;
  height: 50px;
  background: linear-gradient(90deg, #e2dee4, #e4ddde, #e2dee4);
  background-size: 300% 100%; /* Makes the gradient three times the width of the element */
  border-radius: 4px;
  opacity: 0.4;
  animation: shimmer 0.8s infinite;
}

@keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
