@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'daisyui/dist/full.css';


html,
body,
body > div:first-child,
div#__next,
div#__next > main {
  height: 100%;
}

.skeleton-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}
.skeleton-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f9f9f9;  /* Placeholder background, adjust if needed */
}



.skeleton-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.skeleton-line {
  width: 80%;
  height: 50px;
  background: linear-gradient(90deg, #e2dee4, #e4ddde, #e2dee4);
  background-size: 300% 100%; /* Makes the gradient three times the width of the element */
  border-radius: 4px;
  opacity: 0.4;
  animation: shimmer 0.8s infinite;
}

@keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}

/* Loader Styles */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey background */
  border-top: 5px solid #2c04f6; /* Blue color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.slide-in {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

.slide-out {
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
}

.toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1.5rem; /* equivalent to 'm-6' in Tailwind */
  background-color: green; /* equivalent to 'bg-green-500' in Tailwind */
  color: white; /* equivalent to 'text-white' in Tailwind */
  padding: 1rem;
  border-radius: 0.375rem; /* equivalent to 'rounded-md' in Tailwind */
  z-index: 50;
}

/* Sidebar styles */
.sidebar {
  background-color: #00056a; /* Custom background color */
}

/* Sidebar menu item styles */
.menu-item {
  color: rgba(255, 255, 255, 0.8); /* White color with 80% opacity */
}

.menu-item:hover {
  background-color: #0c0297; /* Lighter hover background for contrast */
  color: #d9d9de; /* Color similar to the sidebar for text */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

/* Icon styles */
.icon-blue {
  color: blue; /* Icon color */
}
/* Icon styles */
.icon-blue:hover {
  color: #f9f9fb; /* Icon color */
}

/* Logo styles */
.logo-circle {
  background-color: #0112f9; /* Logo circle background */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  color: #e1e1e5; /* Logo text color */
  margin-left: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/* Add this to your global stylesheet or within the component using TailwindCSS */
.stat {
  margin: 1rem; /* Adjust the margin as needed */
}
