@tailwind base;
@tailwind components;
@tailwind utilities;
@import "daisyui/dist/full.css";

html,
body,
body > div:first-child,
div#__next,
div#__next > main {
  font-family: "Roboto", sans-serif; /* Updated to Roboto */
  font-size: 16px; /* Set the font size to 16px */

  height: 100%;
}

.modalContainer {
  max-height: 90vh; /* Adjust as needed */
  overflow-y: auto; /* Enables vertical scrolling */
}

.formContainer {
  max-height: 600px; /* Or whatever height suits your design */
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-size {
  width: 20px; /* or any size you prefer */
  height: 20px;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

.sidebar {
  /* other styles */
  transition: transform 500ms ease-in-out;
  will-change: transform;
}

.main-content {
  /* other styles */
  transition: margin-left 500ms ease-in-out;
}

.nav-item {
  display: flex;
  position: relative;
}

.nav-item a {
  display: flex;
  align-items: center;
  width: 100%;
}

.tooltip {
  position: relative;
}

.tooltip::after {
  content: attr(data-tip);
  visibility: hidden;
  width: auto;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  left: 100%;
  top: 50%;
  transform: translateX(10px) translateY(-50%);
  white-space: nowrap;
}

.tooltip:hover::after {
  visibility: visible;
}

.logo-text {
  margin-left: 30px; /* Adjust the margin-left value to reduce the spacing */
}

/* Loader Styles */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey background */
  border-top: 5px solid #2c04f6; /* Blue color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slide-in {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

.slide-out {
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
}

.toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1.5rem; /* equivalent to 'm-6' in Tailwind */
  background-color: green; /* equivalent to 'bg-green-500' in Tailwind */
  color: white; /* equivalent to 'text-white' in Tailwind */
  padding: 1rem;
  border-radius: 0.375rem; /* equivalent to 'rounded-md' in Tailwind */
  z-index: 50;
}

/* Sidebar styles */
.sidebar {
  background-color: white; /* Change to white background */
  color: #333;
}

.menu-item-label {
  color: #3b3b71; /* Or any other color you prefer */
}

.menu-item:hover {
  background-color: #e0e0e0; /* Light grey background on hover */
  color: #1a73e8; /* Darker text color on hover */
  /* Add other hover styles as needed */
}

.menu-item:hover .icon-blue {
  color: #1a73e8; /* Change icon color on hover, if desired */
}

/* Sidebar menu item styles */
.menu-item {
  color: rgba(14, 1, 1, 0.8); /* White color with 80% opacity */
}

.menu-item:hover {
  background-color: #ebeeff; /* Lighter hover background for contrast */
  color: #0606fc; /* Color similar to the sidebar for text */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

/* Icon styles */
.icon-blue {
  color: rgb(206, 206, 211); /* Icon color */
}
/* Icon styles */
.icon-blue:hover {
  color: #f9f9fb; /* Icon color */
}

/* Logo styles */
.logo-circle {
  background-color: #0112f9; /* Logo circle background */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item.active {
  background-color: #ebeeff !important; /* Add !important to override any other styles */
  color: #0112f9 !important; /* Add !important to override any other styles */
}

.logo-text {
  color: #2020f5; /* Logo text color */
  margin-left: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/* Add this to your global stylesheet or within the component using TailwindCSS */
.stat {
  margin: 1rem; /* Adjust the margin as needed */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient-spinner {
  position: relative;
  width: 64px; /* Adjust size as needed */
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(to right, blue, red); /* Gradient color */
  animation: spin 1s linear infinite;
}

.gradient-spinner::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 50%;
  border: 2px solid transparent; /* Thinner border */
  background: white; /* Background of the spinner */
  -webkit-mask: linear-gradient(black 30%, transparent 0) content-box,
    linear-gradient(black, black) padding-box;
}

/* QuillEditor.module.css */

.ql-container {
  border: none !important;
}

.ql-editor {
  font-size: 16px; /* Default font size */
}

.ql-h1 {
  font-size: 28px; /* Custom font size for H1 */
}

.ql-h2 {
  font-size: 24px; /* Custom font size for H2 */
}

/* styles/globals.css */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5); /* Gray color */
  border-radius: 20px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.8); /* Darker gray on hover */
}

/* Mobile view */
@media screen and (max-width: 768px) {
  .tab-content #promptContent,
  .tab-content #resultsContent {
    display: none;
  }

  .tab-content [data-active="prompt"] #promptContent,
  .tab-content [data-active="results"] #resultsContent {
    display: block;
  }
}

/* Desktop view */
@media screen and (min-width: 769px) {
  .tab-content #promptContent,
  .tab-content #resultsContent {
    display: block;
  }
}

/* styles/SplashScreen.css */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Set your background color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust the z-index to make sure it appears above other elements */
}

.splash-screen h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

/* styles/SplashScreen.css */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Set your background color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust the z-index to make sure it appears above other elements */
}

.splash-screen h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.inputBox {
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 32px;
  position: relative;
  transition: all 100ms ease 0s;
  background-color: rgb(255, 255, 255);
  border-color: rgb(222, 222, 222);
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  font-size: 12px;
  outline: 0px !important;
  width: 100%;
  height: 50%;
  margin-top: 3px;
}

.labelContent {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-family: "Inter";
  word-wrap: "break-word";
}

.brainMode {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Inter";
  word-wrap: "break-word";
}
.selectBox {
  margin-top: 3px;
}

.levelError {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: red;
  margin-top: 8px;
}
.inputBox ::after {
  border-width: 0px;
  border-style: solid;
  border-color: #e5e7eb;
  font-size: 12px;
}

.btn {
  background-color: #0033ff;
  color: white;
  font-size: 10px;
  height: 5px;
  padding: 1px 20px;
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #0033ff;
  color: white;
  font-size: 10px;
  height: 5px;
  padding: 1px 20px;
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #808280;
  border-radius: 10px;
}

/* For Firefox */
/* You might need to use !important to override Firefox's default styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #808280;
}

*::-webkit-scrollbar {
  width: thin;
  height: thin;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #808280;
  border-radius: 10px;
}

.headerDynamic {
  color: #262626;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  display: flex;
  justify-content: "left";
  align-items: center;
  gap: 24px;
}

.btnTemplateSubmit {

  border: 1px solid var(--Primary-6, #0033ff);
  background: var(--Primary-6, #0033ff);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  border-radius: 0;
}

.btnTemplateSubmit:hover {
  border-radius: 0;
  border: 1px solid var(--Primary-6, #0033ff);
  background: var(--Primary-6, #0033ff);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
 
}
.cardLayout {
  display: flex;
  padding: 32px 32px 24px 32px;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 2px;
  border: 1px solid #e6e8ec;
  background: var(--Conditional-pop-over, #fff);
}

.cardDescription {
  color: rgba(136, 136, 136, 0.85);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  align-self: stretch;
}

.cardTitle {
  color: var(--character-title-85, rgba(0, 0, 0, 0.85));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.hover-border:hover {
  border: 1px solid #1890ff;
}


































.arrowleft-icon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
 }
 .description-top {
  position: relative;
  line-height: 140%;
  font-weight: 500;
 }
 .star-icon {
  width: 22px;
  position: relative;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
 }
 .arrowleft-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
 }
 .rise-icon {
  width: 14px;
  position: relative;
  height: 14px;
 }
 .text {
  position: relative;
  line-height: 24px;
 }
 .button,
 .frame-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
 }
 .button {
  width: 240px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
  justify-content: center;
  padding: 6.400000095367432px 15px;
  gap: 10px;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
 }
 .frame-parent {
  position: absolute;
  top: 0;
  left: 89px;
  border-radius: 9px;
  width: 1831px;
  overflow: hidden;
  justify-content: space-between;
  padding: 24px;
  font-size: 20px;
  color: #262626;
 }
 .title {
  flex: 1;
  position: relative;
  line-height: 22px;
 }
 .label {
  align-self: stretch;
  display: flex;
  padding: 0 0 8px;
 }
 .input-addon-left,
 .label,
 .wrapper {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
 }
 .wrapper {
  height: 30px;
  display: flex;
 }
 .input-addon-left {
  border-radius: 2px 0 0 2px;
  background-color: #fafafa;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  box-sizing: border-box;
  height: 40px;
  display: none;
  padding: 0 12px;
 }
 .input-prefix-icon {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
 }
 .input {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 12px;
  gap: 4px;
  text-align: left;
  font-family: Inter;
 }
 .icon-wrapper {
  width: 14px;
  position: relative;
  height: 14px;
  object-fit: cover;
 }
 .input-addon-right {
  border-radius: 0 2px 2px 0;
  background-color: #fafafa;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9px 12px;
 }
 .field,
 .vertical-form-iteminput {
  display: flex;
  justify-content: flex-start;
 }
 .field {
  align-self: stretch;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
 }
 .vertical-form-iteminput {
  width: 276px;
  flex-direction: column;
  align-items: flex-start;
 }
 .console {
  flex: 1;
  position: relative;
  line-height: 24px;
 }
 .vertical-form-iteminput-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
 }
 .wrapper-icon {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
 }
 .icon-wrapper2 {
  background-color: transparent;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .button1,
 .item01-parent {
  display: flex;
  flex-direction: row;
 }
 .button1 {
  border-radius: 2px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  gap: 10px;
  text-align: center;
  color: #03f;
 }
 .item01-parent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  color: #000;
 }
 .bg,
 .checkbox-input {
  border-radius: 2px;
  background-color: #fff;
 }
 .bg {
  width: 16px;
  position: relative;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  height: 16px;
 }
 .checkbox-input {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
 }
 .checkbox-group {
  overflow: hidden;
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.45);
 }
 .checkbox-group,
 .vertical-form-itemcheckbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
 }
 .label3 {
  width: 400px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 8px;
  box-sizing: border-box;
 }
 .switch-nobdefault-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 16px;
  background-color: #fff;
 }
 .switch-nobdefault {
  width: 12px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 35, 11, 0.2);
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
 }
 .switch {
  border-radius: 16px;
  background-color: #bfbfbf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 14px 2px 2px;
 }
 .input-wrapper,
 .item-control {
  display: flex;
  flex-direction: column;
 }
 .item-control {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0;
 }
 .input-wrapper {
  align-self: stretch;
  align-items: center;
  justify-content: center;
 }
 .message,
 .vertical-form-itemswitch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
 }
 .message {
  align-self: stretch;
  flex-direction: row;
  padding: 1px 0;
  color: rgba(0, 0, 0, 0.45);
  font-family: Inter;
 }
 .vertical-form-itemswitch {
  flex-direction: column;
  font-family: Roboto;
 }
 .vertical-form-itemcheckbox-parent {
  width: 576px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 }
 .div {
  width: 2px;
  position: relative;
  line-height: 22px;
  display: inline-block;
  flex-shrink: 0;
 }
 .label5 {
  position: absolute;
  left: 48px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
 }
 .label-wrapper {
  width: 0;
  position: relative;
  height: 0;
  transform: rotate(180deg);
 }
 .placeholder-text {
  align-self: stretch;
  position: relative;
  line-height: 22px;
 }
 .word-count {
  position: absolute;
  right: -10px;
  line-height: 22px;
 }
 .resizer-icon {
  position: relative;
  width: 8.4px;
  height: 8.4px;
  display: none;
 }
 .bottom {
  align-self: stretch;
  position: relative;
  height: 0;
  text-align: right;
  color: rgba(0, 0, 0, 0.25);
 }
 .field3 {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 12px;
  text-align: left;
  color: #000;
  font-family: Inter;
 }
 .form-itemtextarea {
  flex: 1;
  flex-direction: row;
 }
 .field2,
 .form-itemtextarea,
 .vertical-form-iteminput2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
 }
 .field2 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  text-align: right;
  font-family: Roboto;
 }
 .vertical-form-iteminput2 {
  width: 576px;
  flex-direction: column;
 }
 .add-icon {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
 }
 .button2 {
  border-radius: 2px;
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 15px;
  gap: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
 }
 .vertical-form-iteminput-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 12px;
 }
 .checkbox-input1 {
  border-radius: 2px;
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .label12,
 .placeholder1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
 }
 .label12 {
  align-self: stretch;
  padding: 0 0 8px;
  gap: 4px;
 }
 .placeholder1 {
  flex: 1;
 }
 .button3,
 .field8,
 .input-prefix-parent {
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
 }
 .input-prefix-parent {
  flex: 1;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: flex-start;
  padding: 8px 12px;
  gap: 4px;
  text-align: left;
  color: rgba(0, 0, 0, 0.25);
  font-family: Inter;
 }
 .button3,
 .field8 {
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
 }
 .field8 {
  width: 400px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  display: none;
  justify-content: flex-start;
  font-family: Roboto;
 }
 .button3 {
  width: 576px;
  background-color: #03f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid #03f;
  display: flex;
  justify-content: center;
  padding: 6.400000095367432px 15px;
  gap: 10px;
  color: #fff;
 }
 .frame-group {
  position: absolute;
  top: 181px;
  left: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
 }
 .box-shadow {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  height: 0;
  z-index: 0;
 }
 .title12 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
 }
 .ink-bar {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 2px solid #03f;
  box-sizing: border-box;
  height: 0;
  z-index: 1;
 }
 .wrapper4 {
  overflow: hidden;
  justify-content: center;
  padding: 12px 0;
  position: relative;
  gap: 10px;
 }
 .componentstab,
 .title13,
 .wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .componentstab {
  overflow: hidden;
  justify-content: flex-end;
  color: #03f;
  font-family: Inter;
 }
 .title13 {
  justify-content: center;
 }
 .componentstab1,
 .tabs-group {
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
 }
 .componentstab1 {
  display: none;
  align-items: center;
  padding: 12px 0;
 }
 .tabs-group {
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  gap: 32px;
  z-index: 1;
 }
 .tabstop,
 .tabstop1,
 .wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }
 .wrapper3 {
  align-self: stretch;
  justify-content: flex-start;
  position: relative;
 }
 .tabstop,
 .tabstop1 {
  position: absolute;
  top: 111px;
  left: 113px;
  justify-content: flex-end;
  font-family: Roboto;
 }
 .tabstop1 {
  left: 738px;
 }
 .landingpage-copy-child,
 .landingpage-copy-item {
  position: absolute;
  top: 181px;
  left: 728px;
  border-radius: 10px;
  background-color: #f5f5f5;
  width: 10px;
  height: 897px;
 }
 .landingpage-copy-item {
  top: 187px;
  left: 729px;
  background-color: #dcdbdb;
  width: 8px;
  height: 873px;
 }
 .image-2-icon {
  width: 32px;
  position: relative;
  height: 32px;
  object-fit: cover;
 }
 .header {
  position: absolute;
  width: 100%;
  top: 20px;
  right: 0;
  left: 0;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 13px;
  box-sizing: border-box;
 }
 .home-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
 }
 .menu-item {
  align-self: stretch;
  background-color: #fff;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  box-sizing: border-box;
 }
 .menu-item,
 .menu-item1 {
  cursor: pointer;
 }
 .menu-item1,
 .menu-item2 {
  align-self: stretch;
  background-color: transparent;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  box-sizing: border-box;
 }
 .inline-menu-itemtop-levelleg,
 .menu,
 .sider-trigger {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
 }
 .menu {
  top: 96px;
  background-color: #fff;
  height: 464px;
  align-items: flex-start;
  justify-content: space-between;
 }
 .inline-menu-itemtop-levelleg,
 .sider-trigger {
  height: 56px;
  align-items: center;
  justify-content: center;
 }
 .inline-menu-itemtop-levelleg {
  bottom: 91px;
  padding: 0 16px;
  box-sizing: border-box;
 }
 .sider-trigger {
  bottom: 20px;
  background-color: #fff;
 }
 .sidemenu-fixed-switcher-icon {
  position: absolute;
  top: calc(50% - 33px);
  right: -14px;
  width: 14px;
  height: 66px;
  display: none;
 }
 .left-nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 89px;
  height: 1080px;
 }
 .learn-more {
  position: relative;
  line-height: 22px;
 }
 .console-parent {
  width: 978px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
 }
 .trendy-designs-and {
  width: 622px;
  position: relative;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.45);
  display: inline-block;
 }
 .image-placeholder {
  position: relative;
 }
 .image-placeholder-wrapper {
  align-self: stretch;
  height: 156px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  background-image: url(/public/frame-3545561@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: 12px;
  color: #c1c1c1;
 }
 .get-started {
  position: relative;
  line-height: 22px;
  font-weight: 600;
 }
 .get-started-wrapper,
 .learn-more-wrapper {
  border-radius: 8px;
  background-color: #03f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
 }
 .learn-more-wrapper {
  background-color: #fff;
  border: 1px solid #03f;
  color: #03f;
 }
 .frame-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  text-align: center;
  font-size: 14px;
  color: #fff;
 }
 .join-the-hype-with-our-new-eco-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
 }
 .frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
 }
 .add-icon1 {
  width: 24px;
  position: relative;
  border-radius: 3px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
 }
 .sustainable-production {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 500;
 }
 .from-sourcing-materials {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
 }
 .add-parent,
 .frame-parent3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
 }
 .add-parent {
  flex: 1;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
 }
 .frame-parent3 {
  flex-direction: row;
  gap: 24px;
 }
 .eco-friendly-fashion {
  position: relative;
  line-height: 22px;
  text-align: left;
 }
 .made-with-care {
  width: 622px;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
 }
 .eco-friendly-fashion-parent,
 .learn-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .learn-more-container {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #03f;
  flex-direction: row;
  padding: 8px 16px;
  font-size: 14px;
  color: #03f;
 }
 .eco-friendly-fashion-parent {
  align-self: stretch;
  background-color: #03f;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
 }
 .trendy-designs-and1 {
  width: 123px;
  position: relative;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
 }
 .frame-child {
  width: 12px;
  position: relative;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  height: 12px;
 }
 .console-group,
 .ellipse-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
 }
 .console-group {
  flex-direction: column;
  gap: 12px;
 }
 .marketing {
  margin: 0;
 }
 .marketing-analysis-digital-container {
  width: 123px;
  position: relative;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
 }
 .frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
 }
 .frame-parent1 {
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  gap: 24px;
 }
 .frame-div,
 .frame-parent1,
 .word-count-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
 }
 .word-count-wrapper {
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  color: rgba(0, 0, 0, 0.25);
  font-family: Roboto;
 }
 .frame-div {
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
 }
 .text10 {
  width: 41px;
  position: relative;
  line-height: 24px;
  display: none;
 }
 .button4 {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  height: 38.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6.400000095367432px 15px;
  gap: 10px;
 }
 .button-parent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
 }
 .button-parent,
 .button6,
 .frame-parent5 {
  display: flex;
  flex-direction: row;
 }
 .button6 {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
  align-items: center;
  justify-content: center;
  padding: 6.400000095367432px 15px;
  gap: 10px;
 }
 .frame-parent5 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
 }
 .frame-container,
 .landingpage-copy-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px;
 }
 .frame-container {
  align-self: stretch;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);
  gap: 12px;
 }
 .landingpage-copy-inner {
  position: absolute;
  top: 181px;
  left: 737px;
  background-color: #f5f5f5;
  width: 1159px;
  box-sizing: border-box;
  color: #000;
 }
 .landingpage-copy {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1222px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Inter;
 }


 .image-2-icon2 {
  width: 32px;
  position: relative;
  height: 32px;
  object-fit: cover;
}
.header2,
.menu-item14,
.menu-item15 {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.header2 {
  position: absolute;
  width: 100%;
  top: 20px;
  right: 0;
  left: 0;
  flex-direction: column;
  padding: 12px 13px;
}
.menu-item14,
.menu-item15 {
  align-self: stretch;
  background-color: #fff;
  flex-direction: row;
  padding: 12px 32px;
  cursor: pointer;
}
.menu-item15 {
  background-color: transparent;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 75%;
  width: 91.67%;
  top: 12.5%;
  right: 4.17%;
  bottom: 12.5%;
  left: 4.17%;
}
.ad {
  position: absolute;
  top: 20.83%;
  left: 20.83%;
  font-weight: 600;
}
.url-to-ad {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.menu-item16 {
  align-self: stretch;
  background-color: transparent;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  box-sizing: border-box;
}
.outlined-flag-icon2 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.inline-menu-itemtop-levelleg2,
.menu2,
.sider-trigger2 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.menu2 {
  top: 96px;
  background-color: #fff;
  height: 464px;
  align-items: flex-start;
  justify-content: space-between;
}
.inline-menu-itemtop-levelleg2,
.sider-trigger2 {
  height: 56px;
  align-items: center;
  justify-content: center;
}
.inline-menu-itemtop-levelleg2 {
  bottom: 91px;
  padding: 0 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.sider-trigger2 {
  bottom: 20px;
  background-color: #fff;
}
.sidemenu-fixed-switcher-icon2 {
  position: absolute;
  top: calc(50% - 33px);
  right: -14px;
  width: 14px;
  height: 66px;
  display: none;
}
.left-nav2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 89px;
  height: 1080px;
}
.placeholder10 {
  position: relative;
  line-height: 24px;
}
.text27 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.audio-icon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.affix-wrapper,
.suffix {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 4px;
}
.affix-wrapper {
  flex: 1;
  padding: 8px 12px;
}
.icon-wrapper10 {
  width: 14px;
  position: relative;
  height: 14px;
  object-fit: cover;
}
.input-addonicon3,
.search-box {
  border: 1px solid #d9d9d9;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-addonicon3 {
  align-self: stretch;
  justify-content: center;
  padding: 0 13px;
}
.search-box {
  width: 560px;
  border-radius: 2px;
  background-color: #fff;
  box-sizing: border-box;
  flex-shrink: 0;
  justify-content: flex-start;
}
.rise-icon1 {
  width: 14px;
  position: relative;
  height: 14px;
}
.button9,
.search-box-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button9 {
  width: 240px;
  border-radius: 2px;
  background-color: #03f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid #03f;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 6.400000095367432px 15px;
  gap: 10px;
  text-align: center;
  color: #fff;
}
.search-box-parent {
  align-self: stretch;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.25);
}
.wrapper-icon3 {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.button10,
.button11,
.icon-wrapper11 {
  align-items: center;
  justify-content: center;
}
.icon-wrapper11 {
  background-color: transparent;
  overflow: hidden;
  display: none;
  flex-direction: column;
}
.button10,
.button11 {
  border-radius: 30px;
  padding: 6.400000095367432px 15px;
  gap: 10px;
}
.button10 {
  background-color: #03f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid #03f;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  color: #fff;
}
.button11 {
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
}
.button-container,
.button11,
.button22 {
  display: flex;
  flex-direction: row;
}
.button22 {
  width: 103px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 6.400000095367432px 15px;
  gap: 10px;
  font-family: Roboto;
}
.button-container {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  text-align: center;
}
.description-top1 {
  position: relative;
  line-height: 140%;
}
.description-top-wrapper {
  border-radius: 9px;
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 24px 0 0;
  box-sizing: border-box;
  color: #262626;
}
.title32 {
  flex: 1;
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 500;
}
.title-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.content1 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  color: rgba(136, 136, 136, 0.85);
}
.content,
.right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.right {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: 12px;
}
.content {
  align-self: stretch;
  flex-direction: row;
  gap: 16px;
}
.no {
  position: relative;
  line-height: 22px;
}
.button34 {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 15px;
  gap: 10px;
}
.text53 {
  width: 82px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  height: 25.2px;
  flex-shrink: 0;
}
.button-group1,
.button35 {
  flex-direction: row;
  align-items: center;
}
.button35 {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  padding: 6.400000095367432px 15px;
  gap: 10px;
  font-size: 16px;
}
.button-group1 {
  display: none;
  justify-content: flex-start;
  gap: 8px;
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
}
.modalinfo {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 32px 32px 24px;
  gap: 24px;
  cursor: pointer;
}
.modalinfo:hover {
  border: 1px solid #03f;
}
.title33 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.modalinfo-parent,
.modalinfo1 {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.modalinfo1 {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #e6e8ec;
  flex-direction: column;
  align-items: flex-end;
  padding: 32px 32px 24px;
  cursor: pointer;
}
.modalinfo-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.modalinfo3 {
  align-self: stretch;
  flex: 1;
  cursor: pointer;
}
.modalinfo3,
.modalinfo4,
.modalinfo6 {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #e6e8ec;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 32px 32px 24px;
  gap: 24px;
}
.modalinfo4 {
  align-self: stretch;
  flex: 1;
}
.modalinfo6 {
  width: 559px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Inter;
}
.exclamationcircle-icon {
  width: 22px;
  position: relative;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-group8,
.right7 {
  justify-content: flex-start;
  gap: 8px;
}
.right7 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-group8 {
  display: none;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 14px;
}
.modalinfo7,
.modalinfo8 {
  width: 559px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #e6e8ec;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 32px 32px 24px;
  gap: 24px;
}
.modalinfo8 {
  width: 1140px;
}
.category-folders,
.modalinfo-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.modalinfo-container {
  align-self: stretch;
  flex-direction: row;
  font-family: Roboto;
}
.category-folders {
  width: 1783px;
  background-color: #fff;
  flex-direction: column;
  padding: 16px 32px;
  box-sizing: border-box;
}
.title41 {
  line-height: 24px;
  font-weight: 500;
}
.default,
.title41 {
  position: relative;
}
.tagcheckabletag {
  border-radius: 2px;
  background-color: #47bf67;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 4px;
  font-size: 10px;
  color: #fff;
}
.title-parent7 {
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent6,
.tagcheckabletag2,
.title-parent7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent6 {
  align-self: stretch;
  justify-content: space-between;
}
.tagcheckabletag2 {
  border-radius: 2px;
  background-color: rgba(240, 193, 3, 0.85);
  justify-content: flex-start;
  padding: 2px 4px;
  font-size: 10px;
  color: #fff;
}
.modalinfo-parent4,
.modalinfo12,
.page-content {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.modalinfo12 {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #e6e8ec;
  flex-direction: column;
  align-items: flex-end;
  padding: 32px 32px 24px;
}
.modalinfo-parent4,
.page-content {
  width: 1138px;
  flex-direction: row;
  align-items: flex-start;
}
.page-content {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid #e6e8ec;
  box-sizing: border-box;
  width: 1831px;
  flex-direction: column;
  padding: 24px;
}
.page-content-wrapper {
  position: absolute;
  top: 0;
  left: 89px;
  width: 1831px;
  height: 1080px;
  overflow-y: auto;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
}
.dashboard {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 10px;
  color: #323232;
  font-family: Inter;
}

.ant-switch.ant-switch-small {
 
  background: #A9A9A9 !important;
}

.ant-switch.ant-switch-checked{
  background: #4096ff  !important;
}